#output{
    border: 1px solid black;
    height: 25px;
    border-radius: 5px;
}
input{
    height: 25px;
    width: 300px;
    border-radius: 7px;
}
button{
    height: 25px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    background-color: rgb(229 229 229 / var(--tw-bg-opacity, 1));
}
.container{
    font-size: 2rem;
}